<!-- <div class="vertical-list-component">
  <div class="gameInfo">
    <div class="info"> -->
<!-- <div class="info-wrp" [class.hidden]="source === 'dashboard'">
        <div class="info-title">Currently playing</div>
        &nbsp;|&nbsp;
        <div class="gms">4</div>
      </div> -->
<!-- <div class="info-wrp" [class.hidden]="source !== 'dashboard'">
        <div class="info-title">Last Chance to win</div>
      </div> -->
<!-- <div class="all-wrp">see more</div> -->
<!-- </div> -->
<!-- <div class="gameBar" *ngFor="let info of data">
      <div class="game-img">
        <img [src]="info.imgUrl" />
        <div class="like-img" (click)="like(info)">
          <img src="assets/images/Fav_marked.png" *ngIf="!info.liked" alt="" />
          <img src="assets/images/fav.png" *ngIf="info.liked" alt="" />
        </div>
      </div>
      <div class="game-wrp">
        <div class="game-title">{{ info.title }}</div>
        <div class="special-offer">Earn Puma Voucher</div>
        <div class="level-info">
          <div class="level-name">{{ info.level }}</div>
          |
          <div class="points">{{ info.points }}</div>

          <div class="winning">won 2 vouchers</div>
        </div>
      </div>
      <div class="play-btn" (click)="launchGame(info)">
        <button>play</button>
      </div>-->
<!-- <div class="title" (click)="launchGame(info)">{{ info.title }}</div> -->
<!-- </div> 
  </div>
</div> -->
