<div class="splash-component">
  <!-- <div class="top">
    <div class="logo">
      <img src="assets/images/Games.png" />
    </div>
    <div class="heading">Games</div>
    <div class="text">Play more win more</div>
    <div class="desc">
      Enjoy the Play along games, Brand engagements to
      <span class="bold">WIN EXCITING PRIZES</span> everyday…
    </div>
  </div>
  <div #slider class="slider">
    <div class="slide">
      <div class="img-wrap">
        <img src="assets/images/PlayAlong.png" />
      </div>
      <div class="text">Play Along</div>
    </div>
  </div>
  <div class="bottom">
    <div class="disclaimer">
      I am Indian citizen and above 18 years, <br />I accept the
      <b (click)="navigateToTnc()">Terms & Conditions</b>
    </div>
    <div class="start-btn" (click)="getStarted()">Let's get started</div>
  </div> -->
</div>
